{% macro loop(page) %}
	{% for p in page.children.visible %}
		{% set current_page = (p.active or p.activeChild) ? 'active' : '' %}

		{% if p.children.visible.count > 0 %}
			<li class="bd-toc-item">
				<a href="{{ p.url }}" class="bd-toc-link {{ current_page }}">
					{{ p.menu }}
				</a>
				<ul class="nav bd-sidenav">
					{{ _self.loop(p) }}
				</ul>
			</li>
		{% else %}
			<li class="bd-toc-item">
				<a href="{{ p.url }}">
					{% if p.header.icon %}<i class="fa fa-{{ p.header.icon }}"></i>{% endif %}
					{{ p.menu }}
				</a>
			</li>
		{% endif %}
	{% endfor %}
{% endmacro %}

<nav class="bd-links collapse">
	{{ _self.loop(pages) }}
	{% for mitem in site.menu %}
		<div class="bd-toc-item">
			<a class="bd-toc-link" href="{{ mitem.url }}">
				{% if mitem.icon %}<i class="fa fa-{{ mitem.icon }}"></i>{% endif %}
				{{ mitem.text }}
			</a>
		</div>
	{% endfor %}
</nav>
